<!--
File: login.component.html
Project: \src\app\login\login.component.html
-------------------------
File Created: 20181217
Author: Cenk Kılıç (cenk1cenk2cenk3@gmail.com)
-------------------------
Last Modified: 13:14, 20181218
Modified By: Cenk Kılıç (cenk1cenk2cenk3@gmail.com>)
-------------------------
Changelog:
Date      	By	Rev	Comments
----------	---	---	---------------------------------------------------------
20181218		CK	0   Initial version.
-->

<!-- Login Content -->

<!-- Background image for this particular page. -->

<body class="bg-image" style="background-image: url(../../assets/imgs/bgimgs/bgimg.jpg);">
    <!-- END Background image for this particular page. -->
    <div class="pulldown align-items-center" style="background-color:#121212f0;">
        <div class="content content-boxed overflow-hidden">
            <div class="row">
                <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
                    <div class="push-30-t push-50 animated fadeIn">
                        <!-- Login Title -->
                        <div class="text-center">
                            <img class="img-avatar img-avatar-128 center-block" src="../../assets/imgs/logo/logo.png" />
                            <p class="push-15-t h4 font-w600 text-dark">fullctrl!<span class="text-muted font-w300">cenk1cenk2.com</span></p>
                            <app-alert>
                            </app-alert>
                        </div>
                        <!-- END Login Title -->
                        <!-- Login Form -->
                        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                            <div class="form-group push-30-t" [ngClass]="{ 'has-error': submitted && f.username.errors }">
                                <div class="col-12">
                                    <!-- Username form -->
                                    <div class="form-material form-material-danger floating">
                                        <input type="text" formControlName="username" class="form-control" />
                                        <label for="username">
                                            <span *ngIf="submitted && f.username.errors; else usernamePlaceholder">
                                                <span *ngIf="f.username.errors.required" class="animated flash">Username
                                                    is required</span>
                                            </span>
                                            <ng-template #usernamePlaceholder>
                                                Username
                                            </ng-template>
                                        </label>
                                    </div>
                                    <!-- END Username form -->
                                </div>
                            </div>
                            <div class="form-group" [ngClass]="{ 'has-error': submitted && f.password.errors }">
                                <div class="col-12">
                                    <!-- Password form -->
                                    <div class="form-material form-material-danger floating">
                                        <input class="form-control" formControlName="password" type="password">
                                        <label for="password">
                                            <span *ngIf="submitted && f.password.errors; else passwordPlaceholder">
                                                <span *ngIf="f.password.errors.required" class="animated flash">Password
                                                    is required</span>
                                            </span>
                                            <ng-template #passwordPlaceholder>
                                                Password
                                            </ng-template>
                                        </label>
                                    </div>
                                    <!-- END Password form -->
                                </div>
                            </div>
                            <!-- Remember me radio -->
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-12">
                                        <label class="css-input switch switch-sm switch-danger">
                                            <input type="checkbox" class="form-control" formControlName="password"
                                                [ngClass]="{'disabled': loading}"><span></span> Remember Me
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <!-- END Remember me radio -->
                            <!-- Submit Button -->
                            <div class="form-group push-30-t">
                                <div class="row">
                                    <div class="col-4 offset-4 col-sm-4 offset-sm-7">
                                        <button class="btn btn-sm btn-block btn-dark" button [disabled]="loading"><span
                                                [hidden]="loading">Log in</span><i [ngClass]="{ 'fa fa-spin fa-sync' : loading}"></i></button>
                                    </div>
                                </div>
                            </div>
                            <!-- END Submit Button -->
                        </form>
                        <!-- END Login Form -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END Login Content -->

    <!-- Login Footer -->
    <div class="pulldown push-30-t text-center animated fadeInUp page-footer text-white-op">
        <i class="glyphicon glyphicon-console logo-text-icon font-s12 font-w300"></i><span class="h6">&nbsp;&nbsp;fullctrl!cenk1cenk2.com
        </span><br>
        <span class="js-year-copy text-muted h6"></span>
    </div>
    <!-- END Login Footer -->
</body>