<!--
File: login.error.component.html
Project: \src\app\login\login.error.component.html
-------------------------
File Created: 20181218
Author: Cenk Kılıç (cenk1cenk2cenk3@gmail.com)
-------------------------
Last Modified: 00:21, 20181218
Modified By: Cenk Kılıç (cenk1cenk2cenk3@gmail.com>)
-------------------------
Changelog:
Date      	By	Rev	Comments
----------	---	---	---------------------------------------------------------
20181218		CK	0  Initial version.
-->

<ng-template #normalCase>
<div class="text-dark"><i class="fa fa-lock"></i> Enter your username and password for access.</div>
</ng-template>
<ng-container *ngIf="message; else normalCase">
<div class="animated shake" [ngClass]="{ 'text-success': message.type == 'success', 'text-danger': message.type == 'error' }"><i class="fa fa-exclamation-circle push-5-r"></i>{{message.text}}</div>
</ng-container>