<!--
File: home.component.html
Project: \src\app\home\home.component.html
-------------------------
File Created: 20181230
Author: Cenk Kılıç (cenk1cenk2cenk3@gmail.com)
-------------------------
Last Modified: 01:25, 20181231
Modified By: Cenk Kılıç (cenk1cenk2cenk3@gmail.com>)
-------------------------
Changelog:
Date      	By	Rev		Comments
----------	---	---		---------------------------------------------------------
20181231		CK	v0.12   Added navigation module.
20181230		CK	v0.1    Initial Version
-->

<body>
    <div id="page-container" class="header-navbar-fixed sidebar-l sidebar-o side-scroll">
        <!-- Top Header Bar -->
        <header id="header-navbar" class="content-mini content-mini-full">
            <!-- Header Navigation Right -->
            <ul class="nav-header pull-right">
                <!-- User Menu -->
                <li>
                    <div class="btn-group">
                        <button class="btn btn-default btn-image dropdown-toggle" data-toggle="dropdown" type="button">
                            <img src="../../assets/static/imgs/profilepicture/{{currentUser._id}}.png" class="img-rounded" />
                            <span class="d-none d-md-inline h5 text-uppercase">
                                {{currentUser.firstname}} {{currentUser.lastname}}
                            </span>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li class="dropdown-header h5 text-center d-block d-md-none">
                                {{currentUser.firstname}} {{currentUser.lastname}}
                            </li>
                            <li class="divider"></li>
                            <li class="dropdown-header d-block">Profile</li>
                            <li>
                                <a tabindex="1" href="#" class="d-block h5">
                                    <i class="icon-user pull-right"></i>User Settings
                                </a>
                            </li>
                            <li>
                                <a tabindex="0" href="#" class="d-block h5" (click)="logout()">
                                    <i class="icon-logout pull-right"></i>Logout
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <!-- END User Menu -->
                <!-- Side Overlay Toggle -->
                <li>
                    <button class="btn btn-default" data-toggle="layout" data-action="side_overlay_toggle" type="button">
                        <i class="fa fa-bell"></i>
                    </button>
                </li>
                <!-- END Side Overlay Toggle -->
                <!-- Nagivagion bar toggle for xs -->
                <li class="d-inline d-lg-none">
                    <button class="btn btn-default" data-toggle="layout" data-action="sidebar_toggle" type="button">
                        <i class="glyphicon glyphicon-console logo-text-icon push-10-r push-10-l"></i>
                    </button>
                </li>
                <!-- END Nagivagion bar toggle for xs -->
            </ul>
            <!-- END Header Navigation Right -->

            <!-- Header Navigation Left -->
            <ul class="nav-header pull-left">
                <!-- Side bar mouseover mode toggle -->
                <li class="d-none d-lg-inline">
                    <button class="btn btn-default" data-toggle="layout" data-action="sidebar_mini_toggle" type="button">
                        <i class="fa fa-ellipsis-v"></i>
                    </button>
                </li>
                <!-- END Side bar mouseover mode toggle -->
                <!-- Command bar with small xs screen -->
                <li class="d-inline d-md-none">
                    <button class="btn btn-default" data-toggle="class-toggle" data-target=".js-header-search"
                        data-class="header-search-xs-visible" type="button">
                        <i class="fa fa-angle-right"></i>
                    </button>
                </li>
                <!-- END Command bar with xs screen -->
                <!-- Command bar with lg screen -->
                <li class="js-header-search header-search">
                    <form class="form-horizontal">
                        <div class="form-material input-group remove-margin-t remove-margin-b">
                            <input class="form-control" formControlName="headercommand" class="form-control" type="text"
                                placeholder="Enter a command to run...">
                            <span class="input-group-addon"><i class="fa fa-angle-right"></i></span>
                        </div>
                    </form>
                </li>
                <!-- END Command bar with lg screen -->
            </ul>
            <!-- END Header Navigation Left -->
        </header>
        <!-- END Top Header Bar -->


        <!-- Navigation Bar -->
        <nav id="sidebar">
            <!-- Sidebar Scroll Container -->
            <div id="sidebar-scroll">
                <!-- Sidebar Content -->
                <div class="sidebar-content">
                    <!-- Branding -->
                    <div class="side-header side-content bg-black-op">
                        <a class="h5 text-white" routerLink="/">
                            <i class="glyphicon glyphicon-console logo-text-icon push-10-r"></i><span class="h4 font-w600 sidebar-mini-hide">fullctrl!</span>
                        </a>
                        <button class="btn btn-link text-gray pull-right d-block d-lg-none" type="button" data-toggle="layout"
                            data-action="sidebar_close">
                            <i class="fa fa-times"></i>
                        </button>
                    </div>
                    <!-- END Branding -->
                    <!-- Menu Navigation -->
                    <div class="side-content">
                        <ul class="nav-main">
                            <!-- Main Menu Link -->
                            <li>
                                <a class="active" routerLink="/"><i class="fa fa-home"></i><span class="sidebar-mini-hide">Start
                                        Page</span></a>
                            </li>
                            <!-- END Main Menu Link -->
                            <!-- Create navigation menu items from the backbone -->
                            <li *ngFor="let data of navigationMenu | keyvalue" [ngClass]="{'nav-main-heading': data.value.static == 'heading'}">
                                <!-- Menu Item for single standing link-->
                                <a *ngIf="data.value.static !== 'heading' && !data.value.submenu" [ngClass]="{'active': data.value.currentRoute}"
                                    routerLink="{{data.value.link}}"><i class="{{data.value.icon}}"></i><span class="sidebar-mini-hide">{{data.key}}</span></a>
                                <!-- END Menu Item for single standing link-->
                                <!-- Menu Item for Link with submenus -->
                                <a *ngIf="data.value.submenu" class="nav-submenu" data-toggle="nav-submenu" [ngClass]="{'open': data.value.currentRoute}">
                                    <i class="{{data.value.icon}}"></i><span class="sidebar-mini-hide">{{data.key}}</span>
                                </a>
                                <ul>
                                    <li *ngFor="let subdata of data.value.submenu | keyvalue">
                                        <!-- if this is the deepest level -->
                                        <a *ngIf="!subdata.value.submenu" routerLink="{{subdata.value.link}}"><i class="fa fa-caret-right"></i>{{subdata.key}}</a>
                                        <!-- END if this is the deepest level -->
                                        <!-- if submenu has deeper level -->
                                        <a *ngIf="subdata.value.submenu" class="nav-submenu" data-toggle="nav-submenu"
                                            [ngClass]="{'open': data.value.currentRoute}"><i class="fa fa-caret-right"></i>{{data.key}}</a>
                                        <ul>
                                            <li *ngFor="let subsubdata of subdata.value.submenu | keyvalue">
                                                <a routerLink="{{subsubdata.value.link}}"><i class="fa fa-caret-right"></i>{{subsubdata.key}}</a>
                                            </li>
                                        </ul>
                                        <!-- END if submenu has deeper level -->
                                    </li>
                                </ul>
                                <!-- END Menu Item for Link with submenus -->
                                <!-- Static heading navigation type -->
                                <span *ngIf="data.value.static == 'heading'" class="sidebar-mini-hide">{{data.key}}</span>
                                <!-- END Static heading navigation type -->
                            </li>
                            <li class="nav-main-heading"><span class="sidebar-mini-hide">User Interface</span></li>
                            <!-- END Create navigation menu items from the backbone -->
                            <!-- Logout Link -->
                            <li>
                                <a (click)="logout()"><i class="fa fa-receipt"></i><span class="sidebar-mini-hide">logout</span></a>
                            </li>
                            <!-- END Logout Link -->
                        </ul>
                    </div>
                    <!-- END Menu Navigation -->
                </div>
                <!-- Sidebar Content -->
            </div>
            <!-- END Sidebar Scroll Container -->
        </nav>
        <!-- END Navigation Bar -->


        <!-- Main Container -->
        <main id="main-container">
            <router-outlet></router-outlet>
        </main>
        <!-- END Main Container -->

        <!-- Footer -->
        <footer id="page-footer" class="content-mini content-mini-full font-s12 bg-gray-lighter clearfix">
            <div class="pull-right">
                <h5>
                    <i class="glyphicon glyphicon-console logo-text-icon font-s12 font-w300 push-5-r"></i><span class="h6">fullctrl!cenk1cenk2.com
                    </span>
                    <span class="js-year-copy text-muted h6"></span>
                </h5>
            </div>
        </footer>
        <!-- END Footer -->

        <!-- Notification Overlay-->
        <aside id="side-overlay">
            <!-- Side Overlay Scroll Container -->
            <div id="side-overlay-scroll">
                <!-- User Menu -->
                <div class="side-header side-content">
                    <button class="btn btn-default pull-right" type="button" data-toggle="layout" data-action="side_overlay_close">
                        <i class="fa fa-times"></i>
                    </button>

                </div>
                <!-- END User Menu -->

                <!-- Side Content -->
                <div class="side-content remove-padding-t bg-gray-light">
                    <!-- Side Overlay Tabs -->
                    <div class="block pull-r-l border-t">
                        <ul class="nav nav-tabs nav-tabs-alt nav-justified" data-toggle="tabs">
                            <li class="active">
                                <a href="#tabs-side-overlay-overview"><i class="fa fa-fw fa-address-card"></i>
                                    Notifications</a>
                            </li>
                            <li>
                                <a href="#tabs-side-overlay-sales"><i class="fa fa-fw fa-address-card"></i> Alerts</a>
                            </li>
                        </ul>

                        <div class="block-content tab-content">
                            <!-- Overview Tab -->
                            <div class="tab-pane fade fade-right in active" id="tabs-side-overlay-overview">
                                <!-- Activity -->
                                <div class="block pull-r-l">
                                    <div class="block-header bg-gray-lighter">
                                        <ul class="block-options">
                                            <li>

                                            </li>
                                            <li>
                                                <button type="button" data-toggle="block-option" data-action="content_toggle"></button>
                                            </li>
                                        </ul>
                                        <h3 class="block-title" id="testing">Recent Activity</h3>
                                    </div>
                                    <div class="block-content">
                                        <!-- Activity List -->
                                        <ul class="list list-activity">


                                        </ul>
                                        <!-- END Activity List -->
                                    </div>
                                </div>
                            </div>
                            <!-- END Activity -->
                            <!-- END Overview Tab -->

                            <!-- Sales Tab -->
                            <div class="tab-pane fade fade-left" id="tabs-side-overlay-sales">
                                <div class="block pull-r-l">
                                    <div class="block-header bg-gray-lighter">
                                        <ul class="block-options">
                                            <li>
                                                <button type="button" data-toggle="block-option" data-action="refresh_toggle"
                                                    data-action-mode="demo"><i class="si si-refresh"></i></button>
                                            </li>
                                            <li>
                                                <button type="button" data-toggle="block-option" data-action="content_toggle"></button>
                                            </li>
                                        </ul>
                                        <h3 class="block-title">Recent Activity</h3>
                                    </div>
                                    <div class="block-content">
                                        <!-- Activity List -->
                                        <ul class="list list-activity">
                                            <li>
                                                <i class="si si-wallet text-success"></i>
                                                <div class="font-w600">testing</div>
                                                <div>testing is the best thing</div>
                                                <div><small class="text-muted">3 min ago</small></div>
                                            </li>
                                        </ul>
                                        <!-- END Activity List -->
                                    </div>
                                </div>
                            </div>
                            <!-- END Sales Tab -->
                        </div>
                    </div>
                    <!-- END Side Overlay Tabs -->
                </div>
                <!-- END Side Content -->
            </div>
            <!-- END Side Overlay Scroll Container -->
        </aside>
        <!-- END Notification Overlay -->
    </div>
    <!-- END Page Container -->
</body>